importClassesFrom(mice)
importMethodsFrom(mice)
importFrom(mice,mice)
importFrom(MplusAutomation,runModels)
importFrom("stats","median","pnorm","rbinom","rnorm")
importFrom("utils","capture.output","read.delim","read.table","write.table")
export(ConvertData3)
export(mod)
export(Simulate)
export(AddOnAllInd)
export(AddOnINDStatements)
export(AllBackwardSelect)
export(AllSummary)
export(AllSummary2)
export(AllTotalEffOutput)
export(AverageRRs)
export(CalculatRiskRatios)
export(CheckVarNames)
export(ConvertData2)
export(CountImputedEffect)
export(CreateInitializeMatrix)
export(CreateSummaryMats)
export(CreateSummaryMats2)
export(CreateTotalEffMat)
export(CreateTotalSummary)
export(DatImputations)
export(Initialize)
export(MPlusBackwardSelect)
export(NewBinseqWrap)
export(NewNamesThresh)
export(NumCat)
export(NumEndFile)
export(OnlyNumberElement)
export(ParseTotalEffects2)
export(ParseTotalEffects)
export(PathNames)
export(SpecialMatch)
export(TotalRiskRatios)
export(WriteInitialInpFile)